.appContainer {
  padding: 10px;
}
@font-face {
  font-family: 'ARCADE';
  src: url('fonts/ARCADE.TTF') format('truetype');

}
.screenHead {
  font-family: 'ARCADE';
  font-size: 40px;
  color: #274925;
  padding-left: 40px;
  height: 100px; 

}
