.appContainer {
  padding: 10px;
}
@font-face {
  font-family: 'ARCADE';
  src: url('fonts/ARCADE.TTF') format('truetype');

}
.screenHead {
 display: flex;
 flex-direction: row;
 justify-content: space-start;
}
.screenHead1 {
  font-family: 'ARCADE';
  font-size: 40px;
  color: #274925;
  padding-left: 40px;
  width: 250px;
  /* height: 50px;  */
  /* background-color: blue; */

}
.screenHead2 {
  font-family: 'ARCADE';
  font-size: 30px;
  color: #274925;
  /* height: 50px;  */
  /* background-color: red; */
  /* width: 100px; */
}

.gameOver {
  font-family: 'ARCADE';
  font-size: 30px;
  color: #f409cd;
  padding-left: 40px;

}


